{% include "common/header.html" %}

<body>
    {% include "common/banner.html" %}

    <div class="panel panel panel-default container-fluid">
        <div class="panel-heading row">
            <div class="col-xs-4 col-md-4"><h3>File name: {{ file.name }}</h3></div>
            <div class="col-xs-4 col-md-4 text-center"><h3>File size: {{ file.size }} bytes</h3></div>
            <div class="col-xs-4 col-md-4"><a href="/" class="btn pull-right btn-lg btn-primary">Back</a><br></div>
        </div>

        <div class="panel-body row">
            {% if file.type == "img" %}
                <img src="{{ url_for("static", filename="img/" + file.name)}}" class="img-responsive" alt="{{ file.path }}"> 
            {% else %}
                {% autoescape false %}
                <p>{{ file_content }}</p>
                {% endautoescape %}
            {% endif %}
        </div>
    </div>

</body>
</html>
