<!DOCTYPE html>
<head>
    <title>RPi Web Interface</title>
    <link rel="icon" href="data:;base64,iVBORwoKGgo=">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/custom.css') }}">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</head>

<body>   
    <div class="jumbotron text-center">
        <h1>RPi Web Interface</h1>
        <p>PSAR 2018</p>
    </div>

    <div class="container">
    <div class="row">
    <div class="col-xs-7 col-md-8">
        <h3> Create a new file</h3>
        <form class="form-horizontal" method="POST">
            
        <div class="form-group">
            <label class="control-label col-sm-2" for="fn">File name:</label>
            <div class="col-xs-12 col-md-8">
                <input type="text" id="fn" name="file_name" placeholder="Enter file name">
            </div>
            </div class="form-group">

        <div class="form-group">
            <label class="control-label col-sm-2" for="fc">File content:</label>
            <div class="col-xs-12 col-md-8">
                <textarea id="fc" name="file_content" placeholder="Enter file content"></textarea>
            </div>
        </div class="form-group">

        <div class="form-group">
            <div class="col-sm-offset-2 col-xs-4 col-md-3">
                <input class="btn btn-lg btn-primary" value="Create file" type="submit">
            </div>
        </div class="form-group">
    </div>
    
    <div class="col-xs-5 col-md-4">
        <h3>Existing files:</h3>
        <div type="btn-toolbar">
        {% for file in files %}
            {% if file.type == "img" %}
                <a href="/{{file.name}}" margin="2px" class="btn btn-lg btn-warning">{{ file.name }}</a>
            {% elif file.type == "music" %}
                <a href="/{{file.name}}" class="btn btn-lg btn-success">{{ file.name }}</a>
            {% elif file.type == "video" %}  
                <a href="/{{file.name}}" class="btn btn-lg btn-danger">{{ file.name }}</a>
            {% else %}
                <a href="/{{file.name}}" class="btn btn-lg btn-info">{{ file.name }}</a>
            {% endif %}
        {% endfor %}
        </div>

    </div>
    </div>
</body>
</html>
