<!DOCTYPE html>
<head>
    <title>RPi Web Interface</title>
    <link rel="icon" href="data:;base64,iVBORwoKGgo=">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
</head>

<body>   
    <div class="jumbotron text-center">
        <h1>RPi Web Interface</h1>
        <p>PSAR 2018</p>
    </div>

    <div class="container">
    <div class="row">
    <div class="col-xs-7 col-md-7">
        <h3> Create a new file</h3>
        <form class="form-horizontal" method="POST">
            
	    <div class="form-group">
	        <label class="control-label col-sm-2" for="fn">File name:</label>
		<div class="col-xs-12 col-md-8">
	            <input type="text" id="fn" name="file_name" placeholder="Enter file name">
	        </div>
            </div class="form-group">

	    <div class="form-group">
            <label class="control-label col-sm-2" for="fc">File content:</label>
            <div class="col-xs-12 col-md-8">
                <textarea id="fc" name="file_content" placeholder="Enter file content"></textarea>
	    </div>
        </div class="form-group">

        <div class="form-group">
	    <div class="col-sm-offset-2 col-xs-4 col-md-3">
                <input class="btn btn-lg btn-primary" value="Create file" type="submit">
            </div>
        </div class="form-group">
    </div>
    
    <div class="col-xs-5 col-md-5">
        <h3>Existing files:</h3>
        {% for file in files %}
        <a href="/{{file}}" class="btn btn-lg btn-info">{{ file }}</a>
        {% endfor %}
    </div>
    </div>
</body>
</html>
