<!DOCTYPE html>
<head>
    <title>RPi Web Interface</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <!-- Optional theme -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
</head>

<body>   
    <div class="container"><div class="row">
        <h1>RPi Web Interface</h1>

        <div class="row"><div class="col-md-2">
            <h3>Existing files:</h3>
            {% for file in files %}
	        <p>{{ file }}</p>
            {% endfor %}
        </div></div>

        <div class="row"><div class="col-md-2">
            <form method="POST">
                <p><input name = "file_name"></p>
                <p><input class="btn btn-block btn-lg btn-primary" value="Create file" type = "submit"></p>
        </div></div>
    </div></div>
</body>
</html>
